/*
=============
Colors:
DARK BLUE: #2c3e50
LIGHT GRAY: #ecf0f1
=============
*/

/*throw away*/

/*throw away*/


/* Navbar Styles */
.navbar {
    background: #2c3e50;
}

.navbar .nav > li > a {
    color: white;
}
