/*
=============
Colors:
DARK BLUE: #2c3e50
LIGHT GRAY: #ecf0f1
=============
*/

/*throw away*/

/*throw away*/


body {
    padding-top: 70px;
}

/* Navbar Styles */
.navbar {
    background: #2c3e50;
}

.navbar .nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

/* Jumbotron Styles*/

.jumbotron {
    color:#2c3e50;
    background: #ecf0f1;
}

/* Image Grid Styles */

.flex {
    display: flex;
    flex-wrap: wrap;
}
